@font-face {
  font-family: "Calibre";
  src: url("../fonts/calibre-test-regular.woff") format("woff");
  font-weight: 400; 
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Calibre";
  src: url("../fonts/calibre-test-medium.woff") format("woff");
  font-weight: 500; 
  font-style: normal;
  font-display: swap;
}

/* Variables */

:root {
  --black: black;
}

body {
  display: grid;
  grid-template-columns: repeat(26, 1fr);
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-family: "Calibre", Arial, Helvetica, sans-serif;
  font-size: 1.15rem;
  line-height: 1.3;
  font-weight: 400;
  background-image: url("../images/sunrise-bg.jpg");
  background-size: cover;
}

/* Type */

h1 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  font-weight: 500;

  a {
    text-decoration: none;
  }
}

@media screen and (min-width: 786px) {
  h1 {
    margin-bottom: 2rem;
  }
}

h2 {
  margin: 0 0 0.5rem 0;
  font-size: 1.25rem;
  font-weight: 500;
}

@media screen and (min-width: 786px) {
  h2 {
    margin-bottom: 2rem;
  }
}

p {
  margin: 0;
}

p + p {
  margin-top: 1rem;
}

a {
  color: var(--black);
}

/* General layout */

header {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 2/26;
}

.masthead {
  grid-column: 1/25;
  margin-bottom: 3rem;
}

@media screen and (min-width: 786px) {
  .masthead {
    grid-column: 1/13;
    margin-bottom: 0;
  }
}

.logo {
  display: inline-block;
  margin-right: 0.5rem;
}

.livestream-info__container {
  display: grid;
  grid-column: 1/25;
  grid-template-columns: subgrid;
  margin-bottom: 3rem;
}

@media screen and (min-width: 786px) {
  .livestream-info__container {
    grid-column: 16/25;
  }
}

.livestream-location {
  grid-column: 1/13;
}

@media screen and (min-width: 786px) {
  .livestream-location {
    grid-column: 1/7;
  }
}

.livestream-map {
  display: block;
  grid-column: 14/25;
}

@media screen and (min-width: 786px) {
  .livestream-map {
    grid-column: 8/10;
    text-align: right;
  }
}

.livestream-info__definition-list {
  display: grid;
  grid-column: 1/25;
  grid-template-columns: subgrid;
  margin: 0 0 1rem 0;
}

@media screen and (min-width: 786px) {
  .livestream-info__definition-list {
    grid-column: 1/10;
  }
}

.livestream-info__definition-term {
  grid-column: 1/12;
}

@media screen and (min-width: 786px) {
  .livestream-info__definition-term {
    grid-column: 1/4;
  }
}

.livestream-info__definition-description {
  position: relative;
  grid-column: 14/25;
  margin: 0;
}

@media screen and (min-width: 786px) {
  .livestream-info__definition-description {
    grid-column: 5/10;
  }
}

.livestream-info__definition-description--mt-2,
.livestream-info__definition-term--mt-2 {
  margin-top: 0.25rem;
}

.livestream-info__weather-icon {
  position: absolute;
  top: -5px;
  max-height: 33px;
  margin-left: 5px;
  filter: grayscale(100%);
}

.change-location-button {
  grid-column: 1/25;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: solid 1px var(--black);
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 786px) {
  .change-location-button {
    grid-column: 1/10;
  }
}

.change-location-button:hover {
  background-color: rgb(243, 165, 253);
  transition: background-color 0.3s ease;
  border-color: rgb(243, 165, 253);
}

main {
  grid-column: 2/26;
  margin-bottom: 3rem;
}

.livestream-iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

/* Livestream listings table */

.livestream-listings__table {
  border-collapse: collapse;
  width: 100%;;
}

.livestream-listings__table-head {
  font-weight: 500;
}

.livestream-listings__table-cell {
  position: relative;
  padding: 1rem 2rem 1rem 0;
  border-bottom: solid black 0.5px;
}

.livestream-listings__table-cell--text-right {
  text-align: right;
}

.livestream-listings__table-cell--text-center {
  text-align: center;
}

.livestream-listings__table-row--current-livestream {
  background-image: linear-gradient(to right, #fffbcc, #dda4ca, #ffd864)
}

.livestream-listings__weather-icon {
  position: absolute;
  top: 10px;
  max-height: 33px;
  filter: grayscale(100%);
}


/* Footer */

footer {
  grid-column: 2/25;
}

@media screen and (min-width: 786px) {
  footer {
    grid-column: 17/25;
  }
}

.colophon__link-list {
  padding: 0;
  list-style: none;
}

.colophon__link-list-item {
  display: inline-block;
}

.colophon__link-list-item + .colophon__link-list-item {
  margin-left: 0.35rem;
}
