{% extends "./base.html" %}
{% load tz %}


{% block livestream-info %}
  <div class="livestream-info__container">
    <h2 class="livestream-location">{{ livestream.location }}</h2>
    <dl class="livestream-info__definition-list">
      <dt class="livestream-info__definition-term">Local sunrise time</dt>
      <dd class="livestream-info__definition-description">{% timezone livestream.timezone %}{{ livestream.sunrise_time_today|time }}{% endtimezone %}</dd>
      <dt class="livestream-info__definition-term livestream-info__definition-term--mt-2">Local time</dt>
      <dd class="livestream-info__definition-description livestream-info__definition-description--mt-2">{% timezone livestream.timezone %}{{ current_time|time }}{% endtimezone %}<br>
      ({{ time_in_relation_to_sunrise }})</dd>
      <dt class="livestream-info__definition-term livestream-info__definition-term--mt-2">Weather</dt>
      <dd class="livestream-info__definition-description livestream-info__definition-description--mt-2">{{ livestream.weather }}</dd>
    </dl>
    <button class="change-location-button">Change location</button>
  </div>
{% endblock livestream-info %}

{% block main %}
  <iframe src="https://www.youtube.com/embed/{{ livestream.youtube_id }}?&autoplay=1" class="livestream-iframe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
{% endblock main %}