{% extends "./base.html" %}
{% load tz %}

{% block livestream-info %}
<div class="livestream-info__container">
  <h2 class="livestream-location">Browse the livestreams</h2>
</div>
{% endblock livestream-info %}

{% block main %}
  <table class="livestream-listings__table">
    <thead class="livestream-listings__table-head">
      <tr>
        <td class="livestream-listings__table-cell">Location</td>
        <td class="livestream-listings__table-cell livestream-listings__table-cell--text-right">Sunrise time</td>
        <td class="livestream-listings__table-cell livestream-listings__table-cell--text-right">Current time</td>
      </tr>
    </thead>
    <tbody>
      {% for livestream in livestreams %}
        <tr>
          <td class="livestream-listings__table-cell"><a href="{% url 'single_livestream' pk=livestream.pk %}">{{ livestream }}</a></td>
          <td class="livestream-listings__table-cell livestream-listings__table-cell--text-right">{% timezone livestream.timezone %}{{ livestream.sunrise_time_today|time }}{% endtimezone %}</td>
          <td class="livestream-listings__table-cell livestream-listings__table-cell--text-right">{% timezone livestream.timezone %}{{ current_time|time }}{% endtimezone %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock main %}