{% extends "./base.html" %}
{% load tz %}


{% block main %}
  <h2 class="livestream-location">Browse the livestreams</h2>
  <table class="livestream-listings__table">
    <thead class="livestream-listings__table-head">
      <tr>
        <td class="livestream-listings__table-cell">Location</td>
        <td class="livestream-listings__table-cell livestream-listings__table-cell--text-right">Sunrise time</td>
        <td class="livestream-listings__table-cell livestream-listings__table-cell--text-right">Current time</td>
      </tr>
    </thead>
    <tbody>
      {% for livestream in livestream_additional_info %}
        <tr {% if livestream.current_livestream %}id="current-livestream" style="background-color: #EDB800;"{% endif %}>
          <td class="livestream-listings__table-cell"><a href="{% url 'single_livestream' pk=livestream.livestream.pk %}">{{ livestream.livestream }}</a></td>
          <td class="livestream-listings__table-cell livestream-listings__table-cell--text-right">{% timezone livestream.livestream.timezone %}{{ livestream.livestream.sunrise_time_today|time }}{% endtimezone %}</td>
          <td class="livestream-listings__table-cell livestream-listings__table-cell--text-right">
            {% timezone livestream.livestream.timezone %}{{ current_time|time }}{% endtimezone %}
            ({{ livestream.time_in_relation_to_sunrise }})
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock main %}

{% block page-js %}
  <script>
    window.onload = function() {
      console.log("hello")
      currentLivestream = document.getElementById("current-livestream")
      currentLivestream.scrollIntoView({
        behavior: "smooth",
        block: "center",
      })
    }
  </script>
{% endblock page-js %}